{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    <p>
    DETAIL PRODUIT
    </p>
    <h2>>Désignation</h2>
         {{ product.name }}
    <p>
    votre COMMENTAIRE SUR CE PRODUIT
    </p>
    <br></br>
          
</div>
{% endblock %}
